snippet issue
([Issue $1](https://github.com/jqno/equalsverifier/issues/$1)$0)
endsnippet

snippet hi
{% highlight java %}
$1
{% endhighlight %}
$0
endsnippet

# For pandoc

snippet title
{ data-state="page-title" }
endsnippet

snippet good
{ data-state="page-good" }
endsnippet

snippet bad
{ data-state="page-bad" }
endsnippet

snippet code
\`\`\`$0
\`\`\`
endsnippet

