snippet comment "Comment"
/*
 * $0
 */
endsnippet

snippet doc "Scaladoc comment"
/**
  * $0
  */
endsnippet

snippet wartremover "Wartremover suppression"
@SuppressWarnings(Array("org.wartremover.warts.$0"))
endsnippet

snippet ignore "scalastyle:ignore"
// scalastyle:ignore
endsnippet
